# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Dependency directories
/jspm_packages/
/bower_components/

#libs
/public/codicon/
/public/fontawesome/
/public/img/


# Logs and databases
*.log
*.sqlite

# Environment variables
.env

# IDE or editor config files
.vscode/
.idea/

# Compiled files
dist/
*.bundle.js
*.bundle.js.map

# OS or editor temporary files
.DS_Store
*.swp
